*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

//* own scrollbar */
html {
	/* scrollbar firefox */
	scrollbar-color: rgb(1, 1, 1) rgb(110, 110, 110);
}

/* Note: The -webkit-scrollbar is not supported by Firefox or IE and Edge. */

/* width */
::-webkit-scrollbar {
	width: 1rem;

	/* Track */
	&-track {
		box-shadow: inset 0 0 0.5rem grey;
		border-radius: 0.8rem;

		/* not handle on */
		&-piece {
			background: rgb(1, 1, 1);
		}
	}

	/* Handle */
	&-thumb {
		background: rgb(110, 110, 110);
		border-radius: 1rem;

		/* Handle on hover */
		&:hover {
			background: rgb(110, 110, 110);
		}
	}
}

html {
	//$ This defines what 1rem is
	font-size: 62.5%; //? 1rem = 10px; 10px/16px = 62.5%

	// width < 1800
	@include media(big-desktop) {
		font-size: 75%; //? 12px; 12px/16px = 75%
	}

	// width < 1200
	@include media(tab-land) {
		font-size: 62.5%; //? 10px; 10px/16px = 62.5%
	}

	// width < 900
	@include media(tab-port) {
		font-size: 56.25%; //? 9px; 9px/16px = 56.25%
	}

	// width < 600
	@include media(mobile) {
		// font-size: 37.5%; //? 6px; 6px/16px = 37.5%
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include media(tab-port) {
		padding: 0;
	}
}
