//? CENTER TEXT
.u-center-text {
	text-align: center;
}

//? MARGIN BOTTOM
.u-mb-sm {
	margin-bottom: 1.5rem;
}

.u-mb-md {
	margin-bottom: 3rem;
}

.u-mb-lg {
	margin-bottom: 8rem;
}

//? MARGIN TOP
.u-mt-sm {
	margin-top: 1.5rem;
}

.u-mt-md {
	margin-top: 3rem;
}

.u-mt-lg {
	margin-top: 8rem;
}

.u-mt-xl {
	margin-top: 10rem;
}