$clr-primary-light: #80d671;
$clr-primary: #54c47a;
$clr-primary-dark: #27b485;
$clr-darkslategray: #2f4f4f;
$clr-gray-dark: #787878;
$clr-white: #fff;
$clr-black: #000000;

//? GRID
$grid-width: 114rem;
$gutter-y: 6rem;
$gutter-x: 8rem;
