.composition {
	position: relative;

	&__photo {
		width: 55%;
		box-shadow: 0 1.5rem 4rem $shadow-clr-4;
		border-radius: 2px;
		position: absolute;
		z-index: 1;
		transition: all 0.2s;
		outline-offset: 2rem;

		@include media(tab-port) {
			float: left;
			position: relative;
			width: 50%;
			box-shadow: 0 1.5rem 3rem $shadow-clr-2;
			outline-offset: 0.75rem;
			transform: scale(1.5);
		}

		@include media(mobile) {
			float: none;
			width: 100%;
			outline-offset: 0.75rem;
			transform: scale(0.9);
		}

		&--p1 {
			top: -2rem;
			left: 0;

			@include media(tab-port) {
				top: 20rem;
				left: -4rem;
			}

			@include media(mobile) {
				top: 0;
				left: 0;
			}
		}

		&--p2 {
			top: 3rem;
			right: 0;

			@include media(tab-port) {
				top: 3rem;
				left: -10rem;
			}
			@include media(mobile) {
				top: 0;
				left: 0;
			}
		}

		&--p3 {
			top: 10rem;
			left: 11rem;

			@include media(tab-port) {
				float: right;
				top: 2rem;
				left: 4rem;
				z-index: 0;
			}
			@include media(mobile) {
				top: 0;
				left: 0;
			}
		}

		&:hover {
			outline: 1rem dashed $clr-primary;
			transform: scale(1.1) translateY(-1rem);
			box-shadow: 0 2.5rem 4rem $shadow-clr-5;
			z-index: 2;

			@include media(tab-port) {
				outline: unset;
				transform: scale(2.5) translateY(-1rem);
			}

			@include media(mobile) {
				transform: scale(1.1) translateY(-1rem);
			}
		}
	}

	//* composition:hover composition__photo:not(:hover)
	&:hover &__photo:not(:hover) {
		transform: scale(0.9);

		@include media(mobile) {
			transform: scale(0.8);
		}
	}
}
