@charset "UTF-8";
:root {
  --clr-primary: hsl(343, 85%, 55%);
  --clr-primary-light: hsl(345, 100%, 60%);
  --clr-primary-dark: hsl(340, 65%, 45%);
  --clr-gray-light-1: hsl(0, 10%, 99%);
  --clr-gray-light-2: hsl(0, 8%, 95%);
  --clr-gray-light-3: hsl(0, 6%, 92%);
  --clr-gray-light-4: hsl(0, 0%, 80%);
  --clr-gray-dark-1: hsl(0, 0%, 20%);
  --clr-gray-dark-1-1: hsl(0, 0%, 28%);
  --clr-gray-dark-2: hsl(0, 0%, 30%);
  --clr-gray-dark-3: hsl(0, 0%, 35%);
  --clr-gray-dark-4: hsl(0, 0%, 60%);
  --clr-white: #fff;
  --clr-black: #000;
  --shadow-clr-1: rgba(0, 0, 0, 0.3);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --account-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--clr-gray-light-2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--clr-primary);
}

::selection {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  color: var(--clr-gray-dark-2);
  background: no-repeat center/cover linear-gradient(to right bottom, var(--clr-primary-light), var(--clr-primary-dark));
  min-height: 100vh;
}

.logo {
  height: 3.25rem;
  cursor: pointer;
  display: flex;
}
.logo:active {
  transform: scale(0.95);
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .search {
    order: 1;
    flex: 0 0 100%;
  }
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--clr-gray-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.25rem;
}
.search__input:focus {
  width: 100%;
  background-color: var(--clr-gray-light-3);
}
@media only screen and (max-width: 28.125em) {
  .search__input:focus {
    margin-right: 0;
  }
  .search__input:focus + .search__button {
    position: absolute;
    right: 1.5rem;
    top: 0.45rem;
  }
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--clr-gray-dark-2);
}
.search__button {
  border: none;
  background-color: transparent;
  font-family: inherit;
}
.search__button:active {
  transform: translateY(2px);
}
.search__button:hover {
  cursor: pointer;
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--clr-gray-dark-3);
  font-family: inherit;
}

.user-nav,
.your-profile {
  align-self: stretch;
  display: flex;
  align-items: center;
  position: relative;
}
.user-nav > *,
.your-profile > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav > *:hover,
.your-profile > *:hover {
  background-color: var(--clr-gray-light-2);
}
.user-nav__icon-box,
.your-profile__icon-box {
  position: relative;
  display: flex;
}
.user-nav__icon,
.your-profile__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--clr-gray-dark-2);
}
.user-nav__notification,
.your-profile__notification {
  font-size: 0.8rem;
  color: var(--clr-white);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--clr-primary);
  position: absolute;
  top: -1rem;
  left: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__user,
.your-profile__user {
  display: flex;
}
.user-nav__user-name,
.your-profile__user-name {
  align-self: center;
  color: var(--clr-gray-dark-2);
}
.user-nav__user-photo,
.user-nav .your-profile__user-photo,
.your-profile__user-photo,
.your-profile .your-profile__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.user-nav #user-bookmark:active,
.user-nav #user-chat:active, #your-profile:active .user-nav__user-photo,
.your-profile #user-bookmark:active,
.your-profile #user-chat:active,
#your-profile:active .your-profile__user-photo {
  transform: scale(0.95);
}

.your-profile {
  display: none;
  position: absolute;
  z-index: 2;
  top: 6.5rem;
  right: 1.5rem;
  height: auto;
  color: var(--clr-white);
  background-color: var(--clr-gray-dark-1);
  box-shadow: var(--account-shadow);
  cursor: unset;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0;
  border-radius: 5px;
  flex-direction: column;
  gap: 1rem;
  min-width: 31.5rem;
}
@media only screen and (max-width: 25em) {
  .your-profile {
    top: 5rem;
  }
}
.your-profile a:link,
.your-profile a:visited {
  color: inherit;
}
.your-profile > *:hover {
  background-color: unset;
  cursor: unset;
}
.your-profile:hover {
  background-color: var(--clr-gray-dark-1);
}
.your-profile hr {
  width: 94%;
  margin-inline: auto;
  height: 1px;
  border: none;
  background-color: var(--clr-gray-dark-3);
}
.your-profile__accounts, .your-profile__settings {
  padding: unset;
  flex-direction: column;
}
.your-profile__heading {
  color: var(--clr-primary);
}
.your-profile__accounts {
  align-items: flex-start;
  box-shadow: var(--account-shadow);
  border-radius: 5px;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}
.your-profile__user, .your-profile__all-profiles {
  align-self: stretch;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  border-radius: 5px;
  min-width: 27rem;
}
.your-profile__user:hover, .your-profile__all-profiles:hover {
  background-color: var(--clr-gray-dark-3);
}
.your-profile__user {
  display: flex;
  align-items: center;
  position: relative;
}
.your-profile__user-name {
  color: var(--clr-white);
}
.your-profile__all-profiles, .your-profile__settings {
  font-size: 0.85em;
}
.your-profile__settings {
  align-items: flex-start;
}
.your-profile__items {
  align-self: stretch;
  padding: 1rem;
  border-radius: 3px;
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 30rem;
}
.your-profile__items:hover {
  background-color: var(--clr-gray-dark-3);
}
.your-profile .icon {
  height: 3rem;
  width: 3rem;
  background-color: var(--clr-gray-dark-1-1);
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  fill: currentColor;
  overflow: visible;
}
.your-profile .icon-more {
  margin-left: auto;
  margin-right: 0;
  background-color: initial;
  height: 2rem;
  width: 2rem;
  padding: 0;
  fill: var(--clr-gray-dark-4);
}
.your-profile__footer {
  padding: 1.05rem 1rem;
}
.your-profile__footer__container {
  color: var(--clr-gray-light-4);
  font-weight: 400;
  font-size: 0.9em;
}
.your-profile__footer__list {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.your-profile__footer__list__item:not(:last-child):hover {
  cursor: pointer;
  text-decoration: underline;
}
.your-profile__footer__list__item:not(:last-child)::after {
  content: "•";
  margin-left: 5px;
  display: inline-block;
  text-decoration: none;
}

.show-profile {
  display: flex;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav {
    margin-top: 0;
    display: flex;
  }
}
.side-nav__item {
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    flex: 1;
  }
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--clr-primary);
  transform: scaleY(0);
  transition: transform 0.1s, width 0.2s cubic-bezier(1, 0, 0, 1), background-color 0.1s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before {
  background-color: var(--clr-primary-light);
}
.side-nav__link:link, .side-nav__link:visited {
  color: var(--clr-gray-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 1;
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .side-nav__link:link, .side-nav__link:visited {
    justify-content: center;
    padding: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .side-nav__link:link, .side-nav__link:visited {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0.5rem;
  }
}
.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}
@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 0;
    margin-bottom: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--clr-gray-light-4);
  text-align: center;
  padding: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}

.gallery {
  display: flex;
}
.gallery__photo {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
}
@media only screen and (max-width: 28.125em) {
  .overview {
    flex-wrap: wrap;
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 21.25em) {
  .overview {
    gap: 2rem;
  }
}
.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}
@media only screen and (max-width: 37.5em) {
  .overview__heading {
    font-size: 1.8rem;
    font-size: 1.8rem;
    padding: 1.25rem 2rem;
  }
}
@media only screen and (max-width: 28.125em) {
  .overview__heading {
    padding: 1.25rem 0;
    flex: 0 0 50%;
    text-align: center;
  }
}
@media only screen and (max-width: 21.25em) {
  .overview__heading {
    font-size: 2rem;
    flex: 100%;
    margin-bottom: -2rem;
  }
}
.overview__stars {
  margin-right: auto;
  display: flex;
}
@media only screen and (max-width: 28.125em) {
  .overview__stars {
    flex: 0 0 50%;
    justify-content: center;
  }
}
@media only screen and (max-width: 21.25em) {
  .overview__stars {
    flex: 100%;
    order: 1;
  }
}
.overview__icon-star, .overview__icon-location {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--clr-primary);
}
.overview__location {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 28.125em) {
  .overview__location {
    flex: 0 0 50%;
    justify-content: center;
  }
}
@media only screen and (max-width: 21.25em) {
  .overview__location {
    flex: 100%;
    order: 0;
  }
}
.overview__icon-location {
  margin-right: 0.5rem;
}
.overview__rating {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  margin-left: 3rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2.25rem;
}
@media only screen and (max-width: 37.5em) {
  .overview__rating {
    padding: 0 1.5rem;
  }
}
@media only screen and (max-width: 28.125em) {
  .overview__rating {
    flex: 1;
    margin-inline: 3.5rem;
    padding-block: 1rem;
    justify-content: center;
  }
}
@media only screen and (max-width: 21.25em) {
  .overview__rating {
    flex: 100%;
    max-width: 13rem;
    margin-inline: auto;
    order: 1;
  }
}
.overview__rating-average {
  font-size: 2.25rem;
  margin-bottom: -3px;
}
@media only screen and (max-width: 37.5em) {
  .overview__rating-average {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 23.125em) {
  .overview__rating-average {
    margin-bottom: 0;
  }
}
.overview__rating-count {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.cta {
  padding: 3.5rem 0;
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .cta {
    padding: 2.5rem 0;
  }
}
.cta__book-now {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: inherit;
  color: var(--clr-white);
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--clr-primary-light), var(--clr-primary-dark));
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
}
.btn__visible {
  padding: 2rem 7.5rem;
}
.btn__invisible {
  position: absolute;
  padding: 2rem 0;
  left: 0;
  top: -100%;
}
.btn:hover {
  background-image: linear-gradient(to left, var(--clr-primary-light), var(--clr-primary-dark));
}
.btn:hover .btn__visible {
  transform: translateY(100%);
}
.btn:hover .btn__invisible {
  top: 0;
}
.btn:focus {
  -webkit-animation: pulsate 1s infinite;
  animation: pulsate 1s infinite;
}

.btn-inline {
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: var(--clr-primary);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-inline span {
  margin-left: 3px;
  transition: margin-left 0.3s;
}
.btn-inline:hover {
  color: var(--clr-gray-dark-1);
}
.btn-inline:hover span {
  margin-left: 8px;
}
.btn-inline:focus {
  -webkit-animation: pulsate 1s infinite;
  animation: pulsate 1s infinite;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem var(--shadow-clr-1);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem var(--shadow-clr-1);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  padding-block: 3rem;
  margin-block: 3rem;
  border-block: var(--line);
  display: flex;
  flex-wrap: wrap;
}
.list *::before {
  content: "";
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.7rem;
  background-color: var(--clr-primary);
  -webkit-mask-image: url(../assets/svg/chevron-thin-right.svg);
  mask-image: url(../assets/svg/chevron-thin-right.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}
.list__item {
  flex: 0 0 50%;
  margin-bottom: 0.7rem;
  align-self: center;
}
@media only screen and (max-width: 23.125em) {
  .list__item {
    flex: 0 0 100%;
  }
}

.recommend {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 23.125em) {
  .recommend {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
}
.recommend:hover .recommend__photo:not(:last-child), .recommend:hover .recommend__count {
  margin-right: 1rem;
}
@media only screen and (max-width: 23.125em) {
  .recommend:hover .recommend__count {
    margin-right: 0;
  }
}
.recommend__friends {
  display: flex;
  cursor: pointer;
}
.recommend__photo {
  box-sizing: content-box;
  height: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 3px solid var(--clr-white);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center 75%;
  object-position: center 75%;
  transition: all 0.3s;
  position: relative;
}
.recommend__photo:hover {
  transform: scale(1.5);
  z-index: 1;
}
.recommend__photo:not(:last-child) {
  margin-right: -2rem;
}
@media only screen and (max-width: 23.125em) {
  .recommend__photo:not(:last-child) {
    margin-right: 0;
  }
}

.review {
  background-color: var(--clr-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .review {
    padding: 2rem;
    margin-bottom: 3rem;
  }
}
.review::before {
  content: "“";
  position: absolute;
  top: -2.25rem;
  left: -0.75rem;
  line-height: 1;
  z-index: -1;
  font-size: 20rem;
  font-family: sans-serif;
  color: var(--clr-gray-light-3);
}
.review__text {
  margin-bottom: 3rem;
}
.review__user {
  display: flex;
  align-items: center;
}
.review__user:hover .review__photo {
  transform: scale(1.2);
}
.review__photo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  transition: transform 0.5s;
  -o-object-fit: cover;
  object-fit: cover;
}
.review__user-box {
  margin-right: auto;
}
.review__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
  transition: transform 0.5s;
}
.review__user-date {
  font-size: 1rem;
  color: var(--clr-gray-dark-3);
}
.review__rating {
  color: var(--clr-primary);
  font-size: 2.2rem;
  font-weight: 300;
  transition: transform 0.5s;
}

.wrapper {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--clr-gray-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}
@media only screen and (max-width: 75em) {
  .wrapper {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  padding-left: 2rem;
  background-color: var(--clr-white);
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 2;
}
@media only screen and (max-width: 37.5em) {
  .header {
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 11rem;
  }
}

.content {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--clr-gray-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--clr-white);
  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--clr-gray-light-1);
  border-bottom: var(--line);
}
@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .detail {
    flex-direction: column;
  }
}

.description {
  background-color: var(--clr-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}
@media only screen and (max-width: 56.25em) {
  .description {
    padding: 2rem;
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .description {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none !important;
}
